<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">

</head>
<body>

<nav th:replace="fragments/navbar.html"></nav>

<div class="container bootdey">

    <div class="col-md-12">

        <div  id="favorCtr" class="col mb-4 row product-list">

            <input type="hidden" id="idPrincipal" name="routeId" th:value="${#authentication.principal.id}">

            <div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/favorites.js}"></script>

<footer th:replace="fragments/footer::footer" ></footer>

<th:block th:replace="fragments/scripts::scripts"></th:block>

</body>

</html>